<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login mat-elevation-z12">
    <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
      <img class="logo" src="assets/img/logo2x.png">
    </div>

    <form #form="ngForm" (ngSubmit)="changePassword()">
      <div class="login-content" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngIf="showMessage" class="clsErrorMessage">
          <span>{{message}}</span>
        </div>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Old Password" name="oldPassword" required [(ngModel)]="oldPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="New Password" minlength="6" name="newPassword" required [(ngModel)]="newPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" minlength="6" name="confirmPassword" required [(ngModel)]="confirmPassword">
        </mat-form-field>
        <button color="primary" mat-raised-button [disabled]="!form.valid">CHANGE PASSWORD</button>
        <p class="note">
          <br/>
          <a [routerLink]="['/auth/login']">Click here to login</a>
        </p>
      </div>
    </form>
  </div>
</div>