<h2 mat-dialog-title>Reports Usage Statistics Info</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Report Name</mat-placeholder>
          <input type="text" formControlName="ReportName" matInput>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Created Date</mat-placeholder>
        <input type="text" formControlName="CreatedDate" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Modified Date</mat-placeholder>
        <input type="text" formControlName="ModifiedDate" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Accessed By</mat-placeholder>
        <input type="text" formControlName="AccessedBy" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Status</mat-placeholder>
        <input type="text" formControlName="Status" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Error Message</mat-placeholder>
        <input type="text" formControlName="ErrorMessage" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-placeholder>Generation Time</mat-placeholder>
        <input type="text" formControlName="GenerationTime" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Parameters</mat-placeholder>
        <input type="text" formControlName="Parameters" matInput>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE</button>
  </mat-dialog-actions>
</form>