<h2 mat-dialog-title>Health System Info</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    
    <div class="person" style="min-width:30vw" >
        <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
            <span  style="text-align: center">{{systemNameValidationMessage}}</span>
          </div>        
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Health System Name</mat-placeholder>
          <input type="text" formControlName="health_system_name" matInput required>
        </mat-form-field>
      </div>
      
    </div>
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Address 1</mat-placeholder>
          <input type="text" formControlName="address_line_1" matInput required>
        </mat-form-field>
      </div>
    </div>
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Address 2</mat-placeholder>
          <input type="text" formControlName="address_line_2" matInput required>
        </mat-form-field>
      </div>
    </div>
    <div class="person">
        <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="2px">
            <span  style="text-align: center">{{emailValidationMessage}}</span>
          </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Email</mat-placeholder>
          <input type="text" formControlName="email_id" matInput required email>
        </mat-form-field>
      </div>
     
    </div>
    <div class="person">
        <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
            <span  style="text-align: center">{{contactValidationMessage}}</span>
          </div> 
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Contact Person</mat-placeholder>
          <input type="text" formControlName="contact_person" matInput required>
        </mat-form-field>
      </div>
      
    </div>
     <div class="person">
        <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
            <span  style="text-align: center">{{cityValidationMessage}}</span>
          </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>City</mat-placeholder>
          <input type="text" formControlName="city" matInput required>
        </mat-form-field>       
      </div>
    </div> 

    <div class="person">
        <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
            <span  style="text-align: center">{{stateValidationMessage}}</span>
          </div> 
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field>
                <mat-placeholder>State</mat-placeholder>
                <mat-select required [(ngModel)]="selectedStateId" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let state of states" [value]="state.id">
                      {{ state.name }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
         
        </div>
      </div>

      <div class="person">
          <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
              <span  style="text-align: center">{{zipValidationMessage}}</span>
            </div>
          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
              <mat-form-field fxFlex>
                  <mat-placeholder>Zip Code</mat-placeholder>
                  <input type="number" formControlName="zip_code" matInput minlength="6" required>
                </mat-form-field>
          </div>
        </div>
        <div class="person">
           
              <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
                  <span  style="text-align: center">{{phoneValidationMessage}}</span>
                </div>
          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
              <mat-form-field fxFlex>
                  <mat-placeholder>Phone Number</mat-placeholder>
                  <input type="number" formControlName="phone" matInput minlength="10" required>
                </mat-form-field>
          </div>
        </div>
   

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid" >UPDATE</button>
  </mat-dialog-actions>
</form>