<h2 mat-dialog-title>User Info</h2>

<form>

  <div *ngIf="showMessage" class="clsErrorMessage">
    <span>{{message}}</span>
  </div>
  <br>

  <mat-dialog-content>

    <div class="person" style="min-width:40vw">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>First Name *</mat-placeholder>
          <input [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Last Name</mat-placeholder>
          <input [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Email Id *</mat-placeholder>
          <input [(ngModel)]="emailId" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Phone</mat-placeholder>
          <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field style="width: 100% !important">
          <mat-placeholder>Role *</mat-placeholder>
          <mat-select [(ngModel)]="selectedRoleId" (change)="onRoleSelect($event)" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let Role of Roles" [value]="Role.id">
              {{ Role.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="person" *ngIf="isStateShow">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field style="width: 100% !important">
          <mat-placeholder>State *</mat-placeholder>
          <mat-select [(ngModel)]="selectedStateId" (change)="onStateSelect($event)" [disabled]="isStateDisabled" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let State of States" [value]="State.id">
              {{ State.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="person" *ngIf="isHealthSystemShow">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field style="width: 100% !important">
          <mat-placeholder>HealthSystem *</mat-placeholder>
          <mat-select [(ngModel)]="selectedHealthSystemId" (change)="onHealthSystemSelect($event)" [disabled]="isHealthSystemDisabled"
            [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let HealthSystem of HealthSystems" [value]="HealthSystem.id">
              {{ HealthSystem.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="person" *ngIf="isHospitalShow">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field style="width: 100% !important">
          <mat-placeholder>Hospital *</mat-placeholder>
          <mat-select [(ngModel)]="selectedHospitalId" (change)="onHospitalSelect($event)" [disabled]="isHospitalDisabled" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let Hospital of Hospitals" [value]="Hospital.id">
              {{ Hospital.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="person" *ngIf="isUnitShow">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field style="width: 100% !important">
          <mat-placeholder>Units *</mat-placeholder>
          <mat-select [(ngModel)]="selectedUnitId" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let Unit of Units" [value]="Unit.id">
              {{ Unit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">

    <button *ngIf="isCreateMode()" (click)="save()" mat-button>CREATE</button>
    <button *ngIf="isUpdateMode()" (click)="save()" mat-button>UPDATE</button>
    <button (click)="cancel()" mat-button>CANCEL</button>

  </mat-dialog-actions>

</form>