<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="forgot mat-elevation-z12">
    <div class="forgot-header" fxLayout="column" fxLayoutAlign="center center">
      <!-- <img class="logo" src="assets/img/logo2x.png"> -->
      <span class="logo-header">Sign In</span>
    </div>
    <form #form="ngForm">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;  padding-top: 5px; padding-left: 10%; color:red"
        fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{message}}</span>
      </div>
      <div class="forgot-content" fxLayout="column" fxLayoutAlign="start stretch">
        <span class="cls-info">An email has been sent with 6 digit verification code to your registered email account. Please check your inbox and
          enter the verification code to authenticate.</span>
        <mat-form-field style="margin: 0 0 0 0;">
          <input matInput placeholder="Verification Code" type="password" name="code" maxlength="6" required [(ngModel)]="authCode">
        </mat-form-field>
        <p class="cls-align">
          <button color="primary" mat-raised-button [disabled]="!form.valid" (click)="verify()">VERIFY</button>
          <a [routerLink]="['/auth/login']">Cancel</a>
        </p>
        <span class="cls-info">Still did not receive the verification code? Click Resend button to resend the code again.</span>
        <button color="primary" (click)="generateOTP()" style="color:#ffffff;" mat-raised-button>RESEND VERIFICATION CODE</button>
        <span class="cls-info">Note: The verification code will expire in 5 minutes.</span>
      </div>
    </form>
  </div>
</div>