<h2 mat-dialog-title>{{mode}} unit</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person" style="min-width:25vw">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{unitCodeValidationMessage}}</span>
      </div>
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
          <span style="text-align: center">{{unitCodeLengthValidationMessage}}</span>
        </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Unit Code</mat-placeholder>
          <input type="text" [disabled]="!isEdit" formControlName="unit_code" matInput required>
        </mat-form-field>
      </div>
    </div>

    <div class="person">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{unitNameValidationMessage}}</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Unit Name</mat-placeholder>
          <input type="text" formControlName="unit_name" matInput required>
        </mat-form-field>
      </div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE</button>
  </mat-dialog-actions>
</form>