<div class="container">
  <vr-list name="Data" [columns]="columns" (filterChange)="onFilterChange($event)" #TABLE>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columns">
        <ng-container [matColumnDef]="column.property">
          <mat-header-cell *matHeaderCellDef> {{ column.name }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
        </ng-container>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="navigate(row,index)" class="clickable"></mat-row>
    </mat-table>
    <!-- <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button> -->
    <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
  </vr-list>
</div>