@import "../../../../../styles/_var.scss";

.state-widget {
  @include responsivePadding();

  border-radius: 10px;
  padding: 5px 20px 5px 20px;

  .value {
    font-size: 36px;
    @include responsiveMarginHalf(top);
    @include responsiveMarginHalf(bottom);
  }

  .property {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

  .icon {
    font-size: 38px;
    height: 38px;
    width: 38px;
    line-height: 38px;
    margin-top: -8px;
  }

  .change {

    .percent {
      font-size: 14px;
    }

    .change-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      line-height: 18px;
      font-weight: bold;
      margin-left: 2px;
    }
  }
}
