<h2 mat-dialog-title>Domain</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
          <span style="text-align: center">{{responseMessage}}</span>
        </div>

    <div class="person" style="min-width:30vw">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{message}}</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Domain Name</mat-placeholder>
          <input type="text" formControlName="domain" matInput required>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-placeholder>Domain Description</mat-placeholder>
            <input type="text" formControlName="domain_desc" matInput>
          </mat-form-field>
        </div>
    </div>
    


  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE</button>
  </mat-dialog-actions>
</form>