<div class="dashboard-admin">

  <!-- <vr-page-header *ngIf="!hideHeader" height]="'170px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                  [reverse]="true"></vr-page-header> -->

  <div class="container">

    <!-- <vr-breadcrumbs *ngIf="!hideHeader" currentPage="Dashboard - CRM" header="primary"></vr-breadcrumbs> -->

    <div fxLayout="row" [fxLayoutGap]="layoutGap['lt-md']" [fxLayoutGap.gt-md]="layoutGap['gt-md']">
      <div fxLayout="column">
        <div class="reports">
          <mat-card fxFlex="100%">
            <mat-card-header>
              <h4>Management Console</h4>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div fxLayout="row">
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/statemanagement']">
                    <img src="../../../../assets/img/icons/state.png" class="img-thumbnail">
                    <p>State Management</p>
                  </a>
                </div>
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/healthsystemmanagement']">
                    <img src="../../../../assets/img/icons/id-card.png" class="img-thumbnail">
                    <p>Health System Management</p>
                  </a>
                </div>
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/hospitalmanagement']">
                    <img src="../../../../assets/img/icons/hospital.png" class="img-thumbnail">
                    <p>Hospital Management</p>
                  </a>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/usermanagement']">
                    <img src="../../../../assets/img/icons/users.png" class="img-thumbnail">
                    <p>User Management</p>
                  </a>
                </div>
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/unitmanagement']">
                    <img src="../../../../assets/img/icons/studying.png" class="img-thumbnail">
                    <p>Unit Management</p>
                  </a>
                </div>
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/domainmanagement']">
                    <img src="../../../../assets/img/icons/domain.png" class="img-thumbnail">
                    <p>Domain Management</p>
                  </a>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reportsusagestatistics']">
                    <img src="../../../../assets/img/icons/ereader.png" class="img-thumbnail">
                    <p>Reports Usage Statistics</p>
                  </a>
                </div>
              </div>
            </mat-card-content>
            <!-- <mat-divider></mat-divider> -->
            <mat-card-actions>

            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div fxLayout="column">
        <div class="reports">
          <mat-card fxFlex="100%">
            <mat-card-header>
              <h4>Reports</h4>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div fxLayout="row">
                <div fxFlex="20%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/1']">
                    <img src="../../../../assets/img/icons/injection.png" class="img-thumbnail">
                    <p>ADE</p>
                  </a>
                </div>
                <div fxFlex="20%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/2']">
                    <img src="../../../../assets/img/icons/catheter.png" class="img-thumbnail">
                    <p>CAUTI</p>
                  </a>
                </div>
                <div fxFlex="20%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/3']">
                    <img src="../../../../assets/img/icons/CLABSI.png" class="img-thumbnail">
                    <p>CLABSI</p>
                  </a>
                </div>
                <div fxFlex="20%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/14']">
                    <img src="../../../../assets/img/icons/bacteria_0.png" class="img-thumbnail">
                    <p>Difficile</p>
                  </a>
                </div>
                <div fxFlex="20%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/5']">
                    <img src="../../../../assets/img/icons/falls.png" class="img-thumbnail">
                    <p>Falls</p>
                  </a>
                </div>
                <div fxFlex="20%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/6']">
                    <img src="../../../../assets/img/icons/MRSA.png" class="img-thumbnail">
                    <p>MRSA</p>
                  </a>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/7']">
                    <img src="../../../../assets/img/icons/stomach.png" class="img-thumbnail">
                    <p>PrU</p>
                  </a>
                </div>
                <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/8']">
                    <img src="../../../../assets/img/icons/readmission.png" class="img-thumbnail">
                    <p>Readmission</p>
                  </a>
                </div>
                <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/9']">
                    <img src="../../../../assets/img/icons/sepsis.png" class="img-thumbnail">
                    <p>Sepsis</p>
                  </a>
                </div>
                <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/10']">
                    <img src="../../../../assets/img/icons/surgeon.png" class="img-thumbnail">
                    <p>SSI</p>
                  </a>
                </div>
                <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/12']">
                    <img src="../../../../assets/img/icons/ventilator.png" class="img-thumbnail">
                    <p>VAE</p>
                  </a>
                </div>
                <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/11']">
                    <img src="../../../../assets/img/icons/VTE.png" class="img-thumbnail">
                    <p>VTE</p>
                  </a>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="30%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/13']">
                    <img src="../../../../assets/img/icons/worker-safety.png" class="img-thumbnail">
                    <p>Worker Safety</p>
                  </a>
                </div>
                <!-- <div fxFlex="30%" class="dashboard-admin-menu text-centre">
                  <a [routerLink]="['/pages/reports/1']">

                    <img src="../../../../assets/img/icons/analytics.png" class="img-thumbnail">
                    <p>Post Intervention
                      <br/> Report</p>
                  </a>
                </div> -->
              </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>