.dashboard-admin{
    padding: 12px !important;
}

.dashboard-admin-menu{
    padding: 18px !important;
    text-align: center !important;
}

.mat-card {
    padding: 0 !important;
}

a {
    text-decoration: none ;
 }

a:hover
 {
   color:darkblue;
   text-decoration:none;
   cursor:pointer;
  }