<div class="all-in-one-table">
  <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true"></vr-page-header>

  <div class="container">

    <vr-breadcrumbs [currentPage]="'State Management'" [header]="'primary'"></vr-breadcrumbs>

    <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 22px;"   fxLayoutGap.gt-sm="24px">
      <span  style="text-align: center">{{message}}</span>
    </div>

    <vr-list name="States" [columns]="columns" (filterChange)="onFilterChange($event)">

      <div class="actions" fxFlexAlign="center">
        <button class="create" (click)="createState()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>

       <mat-table #table [dataSource]="dataSource" matSort>

        <div [@ComponentAnimation1]="columns.length">
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
            </ng-container>
          </ng-container>
        </div>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell class="actions-cell" *matCellDef="let row">
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">

              <button (click)="deleteState(row)" mat-menu-item>
                <span>Delete</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" class="clickable"></mat-row>
      </mat-table>

      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    </vr-list>
  </div>
</div>