<h2 mat-dialog-title>User Info</h2>

<mat-dialog-content style="width: 25vw;">
  <div class="person">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <span>User Name : {{user_name}}</span>
    </div>
  </div>
  <br>
  <div class="person">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field style="width: 100% !important">
        <mat-placeholder>Role</mat-placeholder>
        <mat-select required [(ngModel)]="selectedRoleId" (change)="onRoleSelect($event)">
          <mat-option *ngFor="let Role of Roles" [value]="Role.id">
            {{ Role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="person" *ngIf="isStateShow">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field style="width: 100% !important">
        <mat-placeholder>State</mat-placeholder>
        <mat-select required [(ngModel)]="selectedStateId" (change)="onStateSelect($event)" [disabled]="isStateDisabled">
          <mat-option *ngFor="let State of States" [value]="State.id">
            {{ State.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="person" *ngIf="isHealthSystemShow">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field style="width: 100% !important">
        <mat-placeholder>HealthSystem</mat-placeholder>
        <mat-select required [(ngModel)]="selectedHealthSystemId" [disabled]="isHealthSystemDisabled">
          <mat-option *ngFor="let HealthSystem of HealthSystems" [value]="HealthSystem.id">
            {{ HealthSystem.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="person" *ngIf="isHospitalShow">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field style="width: 100% !important">
        <mat-placeholder>Hospital</mat-placeholder>
        <mat-select required [(ngModel)]="selectedHospitalId" (change)="onHospitalSelect($event)" [disabled]="isHospitalDisabled">
          <mat-option *ngFor="let Hospital of Hospitals" [value]="Hospital.id">
            {{ Hospital.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="person" *ngIf="isUnitShow">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field style="width: 100% !important">
        <mat-placeholder>Units</mat-placeholder>
        <mat-select required [(ngModel)]="selectedUnitId">
          <mat-option *ngFor="let Unit of Units" [value]="Unit.id">
            {{ Unit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>