<h2 mat-dialog-title>User Info</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person" style="min-width:30vw">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{firstNameValidationMessage}}</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>First Name</mat-placeholder>
          <input type="text" formControlName="first_name" matInput required>
        </mat-form-field>
      </div>
    </div>

    <div class="person">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{lastNameValidationMessage}}</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Last Name</mat-placeholder>
          <input type="text" formControlName="last_name" matInput required>
        </mat-form-field>
      </div>
    </div>

    <div class="person">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{emailValidationMessage}}</span>
      </div>
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{domainNameValidationMessage}}</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Email Id</mat-placeholder>
          <input type="email" formControlName="email_id" matInput required email>
        </mat-form-field>
      </div>
    </div>

    <div class="person">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red" fxLayoutGap.gt-sm="6px">
        <span style="text-align: center">{{phoneValidationMessage}}</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Phone</mat-placeholder>
          <input type="number" formControlName="phone" required matInput>
        </mat-form-field>
      </div>
    </div>





  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE</button>
  </mat-dialog-actions>
</form>