ng2-toasty #toasty {
    background-color: #30964f !important;
    color: #FFF !important;
}

#toasty .toast.toasty-theme-material {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    background-color: #30964f !important;
    color: #FFF !important;
  }