<div fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="row">
    <div class="dashboard-admin-menu text-centre">

      <mat-form-field class="padding-right-30" *ngFor="let everyFilter of viewModel.filters" [class.hidden]="everyFilter.forReportLevels.indexOf(viewModel.currentReportLevel) < 0">
        <mat-select [(ngModel)]="everyFilter.selectedId" [placeholder]="everyFilter.name" [id]="everyFilter.id" (selectionChange)="filterChanged()">
          <mat-option *ngFor="let dropdown of everyFilter.data" [value]="dropdown.id">
            {{ dropdown.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="padding-right-30">
        <input matInput [(ngModel)]="viewModel.fromDate" [max]="currentDate" style="width: 150px" [matDatepicker]="datepicker" placeholder="From Date"
          disabled>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="padding-right-30">
        <input matInput [(ngModel)]="viewModel.toDate" [min]="viewModel.fromDate" style="width: 150px" [matDatepicker]="datepicker2"
          placeholder="To Date" disabled>
        <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
        <mat-datepicker #datepicker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="33%" class="dashboard-admin-menu text-centre">
      <p class="cls-align">
        <button color="primary" (click)="filter()" mat-raised-button>FILTER</button>
        <button color="primary" (click)="clearFilters()" mat-raised-button>RESET</button>
      </p>
    </div>
  </div>
</div>