<div fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
    <div class="form-theming card alternative" fxFlex="100%">
      <div class="content" fxLayout="column">
        <div class="result" fxLayout="column" style="height: 425px;">

          <div id="divLoader" *ngIf="isLoaderContainer" class="loaderContainer">
            <div class="loaderItem">
              <div class="ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="loading">LOADING...</div>
            </div>
          </div>
          <div id="divChart">
            <div style="max-width: 95%; height:100%;" [chart]="chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>