<div class="all-in-one-table">
  <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true"></vr-page-header>

  <div class="container">

    <vr-breadcrumbs [currentPage]="'Reports'" [header]="'primary'"></vr-breadcrumbs>

    <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 22px;" fxLayoutGap.gt-sm="24px">
      <span style="text-align: center">{{message}}</span>
    </div>

    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
        <div class="form-theming card alternative clsCardPadding" fxFlex="100%" fxFlex.gt-sm>
          <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="title">Filters</div>
              <div class="sub-title"></div>
            </div>
          </div>
          <br>
          <hret-filters [viewModel]="viewModel.filterViewModel"></hret-filters>
          <br>
          <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="sub-title"></div>
            </div>
          </div>
          <br>
          <div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="50px">
              <div *ngIf="viewModel.currentStateName != null">
                <b>State: </b>
                {{viewModel.currentStateName}}
              </div>
              <div *ngIf="viewModel.currentHospital != null">
                <b> Hospital: </b> {{viewModel.currentHospital}}
              </div>
            </div>
            <br/>
            <hret-charts *ngIf="viewModel.enableChart" [viewModel]="viewModel.chartViewModel"></hret-charts>
            <div id="divLoader" *ngIf="!viewModel.enableChart" class="loaderContainer">
              <div class="loaderItem">
                <div class="ball-scale-multiple">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="loading">LOADING...</div>
              </div>
            </div>

          </div>
          <br>
          <div>
            <hret-datagrid *ngIf="viewModel.enableGrid" [viewModel]="viewModel.dataGridViewModel"></hret-datagrid>
            <div id="divLoader" *ngIf="!viewModel.enableGrid" class="loaderContainer">
              <div class="loaderItem">
                <div class="ball-scale-multiple">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="loading">LOADING...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>