<div class="all-in-one-table">
    <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true"></vr-page-header>

    <div class="container">

        <vr-breadcrumbs [currentPage]="'Reports'" [header]="'primary'"></vr-breadcrumbs>

        <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 22px;" fxLayoutGap.gt-sm="24px">
            <span style="text-align: center">{{message}}</span>
        </div>


        <div fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
                <div class="form-theming card alternative clsCardPadding" fxFlex="100%" fxFlex.gt-sm>
                    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            <div class="title">Filters</div>
                            <div class="sub-title"></div>
                        </div>
                    </div>
                    <br>
                    <div fxLayout="column" fxLayoutGap="24px">
                        <div fxLayout="row">
                            <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                                <mat-form-field>
                                    <mat-select placeholder="Sub measure" [(ngModel)]="selectedMeasure">
                                        <mat-option *ngFor="let measure of measureId" [value]="measure.id">
                                            {{ measure.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                                <mat-form-field>
                                    <mat-select placeholder="Comparable" [(ngModel)]="selectedComparable">
                                        <mat-option *ngFor="let comparable of comparables" [value]="comparable.id">
                                            {{ comparable.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                                <mat-form-field>
                                    <mat-select placeholder="Number of hospitals" [(ngModel)]="selectedNumberOfHospitals">
                                        <mat-option *ngFor="let hospital of numberOfHospitals" [value]="hospital.id">
                                            {{ hospital.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25%" class="dashboard-admin-menu text-centre">
                                <mat-form-field style="display: none;">
                                    <mat-select placeholder="Percentile" [(ngModel)]="selectedPercentile">
                                        <mat-option *ngFor="let percentile of percentiles" [value]="percentile.id">
                                            {{ percentile.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                                <mat-form-field>
                                    <mat-select placeholder="Peer group" [(ngModel)]="selectedTeaching">
                                        <mat-option *ngFor="let teaching of teachingList" [value]="teaching.id">
                                            {{ teaching.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                                <mat-form-field>
                                    <mat-select placeholder="Rural" [(ngModel)]="selectedRural">
                                        <mat-option *ngFor="let rural of rurals" [value]="rural.id">
                                            {{ rural.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                                <mat-form-field>
                                    <mat-select placeholder="Occupancy" [(ngModel)]="selectedOccupancy">
                                        <mat-option *ngFor="let occupancy of occupancies" [value]="occupancy.id">
                                            {{ occupancy.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33%" class="dashboard-admin-menu text-centre">
                                <p class="cls-align">
                                    <button color="primary" (click)="getReports()" mat-raised-button>FILTER</button>
                                    <button color="primary" (click)="clearFilters()" mat-raised-button>RESET</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            <div class="title">{{ selectedMeasureText }}</div>
                            <div class="sub-title"></div>
                        </div>
                    </div>
                    <br>
                    <div fxLayout="column" fxLayoutGap="24px">
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
                            <div class="form-theming card alternative" fxFlex="100%">
                                <div class="content" fxLayout="column">
                                    <div class="result" fxLayout="column" style="height: 425px;">

                                        <div id="divLoader" *ngIf="isLoaderContainer" class="loaderContainer">
                                            <div class="loaderItem">
                                                <div class="ball-scale-multiple">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="loading">LOADING...</div>
                                            </div>
                                        </div>
                                        <div id="divChart" *ngIf="isChartContainer">
                                            <div style="max-width: 95%; height:100%;" [chart]="chart"></div>

                                            <div class="text-centre">
                                                <!-- <button color="accent" (click)="showTransactionalData()" mat-raised-button>Show all</button> -->
                                                <button color="accent" (click)="hideTransactionalData()" mat-raised-button>Hide all</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div fxLayout="column" fxLayoutGap="24px" *ngIf="isChartContainer">
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">

                            <vr-list name="DATA" [columns]="columns" (filterChange)="onFilterChange($event)" fxFlex="100%">
                                <mat-table #table [dataSource]="dataSource" matSort>

                                    <!--- Note that these columns can be defined in any order.
                                                The actual rendered columns are set as a property on the row definition" -->

                                    <!-- Checkbox Column -->
                                    <ng-container matColumnDef="checkbox">
                                        <mat-header-cell class="actions-cell" *matHeaderCellDef>
                                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell class="actions-cell" *matCellDef="let row">
                                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="image">
                                        <mat-header-cell class="image-cell" *matHeaderCellDef></mat-header-cell>
                                        <mat-cell class="image-cell" *matCellDef="let row">
                                            <img src="//placehold.it/40x40">
                                        </mat-cell>
                                    </ng-container>

                                    <!-- fullName Column -->
                                    <ng-container *ngFor="let column of columns">
                                        <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
                                        </ng-container>
                                    </ng-container>


                                    <!-- actions Column -->
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
                                        <mat-cell class="actions-cell" *matCellDef="let row">
                                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                                                <mat-icon>more_horiz</mat-icon>
                                            </button>

                                            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                                                <button (click)="updateCustomer(row)" mat-menu-item>
                                                    <span>Modify</span>
                                                </button>
                                                <button (click)="deleteCustomer(row)" mat-menu-item>
                                                    <span>Delete</span>
                                                </button>
                                            </mat-menu>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="navigate(row)" class="clickable"></mat-row>
                                </mat-table>
                                <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
                            </vr-list>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>