<h2 mat-dialog-title>{{this.mode}} State</h2>

<mat-dialog-content>

  <div class="person" style="min-width:25vw">
      <div *ngIf="showMessage" fxLayout="column" fxLayout.gt-sm="row" style="background-color: white;padding: 2px; color:red"   fxLayoutGap.gt-sm="6px">
          <span  style="text-align: center">{{stateValidationMessage}}</span>
        </div> 
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field style="width:100%"> 
        <mat-placeholder>State</mat-placeholder>
        <mat-select [(ngModel)]="selectedStateCode">
          <mat-option *ngFor="let state of states" [value]="state.id">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button (click)="isCreateMode()" mat-button>Add</button>
</mat-dialog-actions>
