<div class="dashboard" fxLayout="column">
  <mat-tab-group class="dashboard-tabs">
    <mat-tab label="National Data">
      <vr-dashboard-statistics [hideHeader]="true"></vr-dashboard-statistics>
    </mat-tab>
    <mat-tab label="Admin">
      <vr-dashboard-admin></vr-dashboard-admin>
    </mat-tab>
  </mat-tab-group>
</div>