<h2 mat-dialog-title>Health System - Hospital Link</h2>

<div class="custom-dialog-container">
  <div class="person">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <label>Health System Name : {{health_system_name}}</label>
    </div>
  </div>
  <br>
  <label>Hospitals : </label>
  <div class="person" style="height: 27vw;max-height: 27vw;">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <ng-multiselect-dropdown style="width:92%;" [placeholder]="'Hospitals'" [data]="dropdownList" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" 
        (onSelectAll)="onSelectAll()" (onDeSelectAll)="onDeSelectAll()">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div style="float: right;">
    <button mat-button (click)="save()">Save</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>
</div>


<style>
  .custom-dialog-container {
    pointer-events: auto;
    position: static;
    width: 50vw;
    max-width: 50vw;
  }

  .dropdown-list ul {
    overflow: hidden !important;
  }

  input.ng-untouched.ng-pristine.ng-valid {
    padding: 0 !important;
  }
</style>